body {
	background-color: violet;
}

h1 {
	font-family: monaco;
	font-size:  16px;
	color: violet;
	text-align: center;
	border:  1px gray;
	background-color:  #D3D3D3;
	height:  30px;
	border-radius:  10px;
}

h2 {
	font-size:  14px;
	color: white;
	text-align: left;
}

p {
	font-family: monaco;
	font-size: 12px;
}

img {
	border:  1px slate blue;
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
}
